.label {
    position: relative;
    left: auto;
    top: auto;
    font-size: 47px;
    width: auto;
    height: 74px;
    -unity-text-align: middle-left;
    -unity-font-definition: url('project://database/Assets/QUIZ_ELEMENTS/AvenirLTStd-Heavy%20SDF.asset?fileID=11400000&guid=8e20d50b48d330c43b0994f6a7a9b87f&type=2#AvenirLTStd-Heavy SDF');
    color: rgb(89, 92, 118);
    white-space: nowrap;
}
